name: Fast CPU Tests

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  test:
    runs-on: pruna-cpu

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python Build Tools
        run: pip install --upgrade pip setuptools wheel

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "${HOME}/.local/bin" >> $GITHUB_PATH

      - name: Configure Poetry to not create virtual environments
        run: poetry config virtualenvs.create false

      - name: Install dependencies
        run: pip install -e .[tests] --extra-index-url https://prunaai.pythonanywhere.com/

      - name: Install intel dependencies
        run: pip install -e .[intel] --extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/cn/

      - name: Run tests
        run: |
          pytest -m "cpu and not slow and not high_cpu" --cov=pruna --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
